{% extends "base.html" %}

{% block content %}

<div class="row">
    <h2>Summary</h2>
    <ul class="list-group col-md-3">
        <li class="list-group-item text-info">
            <span class="badge">{{ employee_counter }}</span>
            Employees
        </li>
        <li class="list-group-item text-info">
            <span class="badge">{{ profile_counter }}</span>
            Profiles
        </li>
        <li class="list-group-item text-info">
            <span class="badge">{{ documentmodel_counter }}</span>
            Document Models
        </li>
    </ul>
</div>

<div class="row">
    <h2>Documents</h2>
    <ul class="list-group col-md-3">
        <li class="list-group-item text-primary">
            <span class="badge">{{ expired_counter }}</span>
            Expired documents
        </li>
        <li class="list-group-item text-danger">
            <span class="badge">{{ critical_counter }}</span>
            Documents in Critical status
        </li>
        <li class="list-group-item text-warning">
            <span class="badge">{{ warning_counter }}</span>
            Documents in Warning status
        </li>
    </ul>
</div>

{% endblock %}
