{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<h1>{{ page_title|title }}</h1>

<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>Name</th>
            <th>Warning</th>
            <th>Critical</th>
            <th><i class="fa fa-user-times fa-fw" aria-hidden="true"></i></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for documentmodel in documentmodels %}
        <tr>
            <td><a href="{% url 'documentmodel_update' documentmodel.id %}">{{ documentmodel.name }}</a></td>
            <td>{{ documentmodel.warning_days }}</td>
            <td>{{ documentmodel.critical_days }}</td>
            <td><i class="text-warning" aria-hidden="true">{{ documentmodel.profile_set.count }}</i></td>
            {% if documentmodel.profile_set.count = 0 %}
            <td><a href="{% url 'documentmodel_delete' documentmodel.id %}" class="text-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
            {% else %}
            <td><i class="fa fa-trash-o text-disabled" aria-hidden="true"></i></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<a class="btn btn-primary" href="{% url 'documentmodel_create' %}">New document model</a>

{% endblock %}
