{% extends "base.html" %}

{% block content %}
<h1>{{ page_title|title }}</h1>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Name</th>
      <th>Warning</th>
      <th>Critical</th>
    </tr>
  </thead>
  <tbody>
     {% for docmodel in documentmodels %}
    <tr>
      <td><a href="{% url 'documentmodel_details' docmodel.id %}">{{ docmodel.document_model_name }}</a></td>
      <td><a href="#">{{ docmodel.warning_days }}</a></td>
      <td><a href="#">{{ docmodel.critical_days }}</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>


<a href="#" class="btn btn-default">New {{ page_title|title }}</a>
{% endblock %}
