{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h1>{{ page_title|title }}</h1>

{% if employees %}
<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>#</th>
            <th>Status</th>
            <th>Name</th>
            <th>Profile</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for employee in employees %}
        {% if employee.get_employee_status == 'expired' %}
        <tr class="active">
        {% elif employee.get_employee_status == 'critical' %}
        <tr class="danger">
        {% elif employee.get_employee_status == 'warning' %}
        <tr class="warning">
        {% else %}
        <tr class="">
        {% endif %}
            <td><i class="text-info">{{ employee.id }}</i></td>

            <td>
            {% if employee.is_active %}
            <i class="fa fa-check fa-fw text-success" aria-hidden="true"></i>
            {% else %}
            <i class="fa fa-ban fa-fw text-danger" aria-hidden="true"></i>
            {% endif %}
            </td>

            <td><a href="{% url 'employee_update' employee.id %}">{{ employee }}</a></td>
            <td><a href="{% url 'profile_update' employee.profile_id.id %}">{{ employee.profile_id }}</a></td>
            <td><a href="{% url 'employee_delete' employee.id %}" class="btn btn-danger btn-xs"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<h4>No employees registered yet.</h4>
Create <a href="{% url 'documentmodels_list' %}">Document Models</a> and <a href="{% url 'profiles_list' %}">profiles</a> first.</br>
{% endif %}

{% if employee_counter <= limit_employees %}
    <a class="btn btn-primary" href="{% url 'employee_create' %}">New employee</a>
    </br>
    <p class="text-primary">{{ employee_counter }} / {{ limit_employees }}</p>

{% else %}
    <a class="btn btn-primary disabled" href="{% url 'employee_create' %}">New employee</a>
    </br>
    <p class="text-danger">{{ employee_counter }} / {{ limit_employees }}</p>
{% endif %}


{% endblock %}
