{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h1>{{ page_title|title }}</h1>

{% if employees %}
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Profile</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
     {% for employee in employees %}
    <tr>
      <td><a class="text-info">{{ employee.id }}</a></td>
      <td><a href="{% url 'employee_update' employee.id %}">{{ employee }}</a></td>
      <td><a href="{% url 'profile_update' employee.profile_id.id %}">{{ employee.profile_id }}</a></td>
      <td><a href="{% url 'profile_update' employee.id %}"><i class="fa fa-circle fa-fw" aria-hidden="true"></i></a></td>
      <td><a href="{% url 'employee_trash' employee.id %}" class="text-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<h4>No employees registered yet.</h4>
Create <a href="{% url 'documentmodels_list' %}">Document Models</a> and <a href="{% url 'profiles_list' %}">profiles</a> first.
{% endif %}


{% if form and employees %}
<h1>Add new {{ page_title|title }}</h1>
<form class="form-horizontal" action="{% url 'employees_list' %}" method="POST">
  {% csrf_token %}
  {{ form|crispy }}
  <input type="submit" class="btn btn-primary" value="Submit"/>
</form>
{% endif %}
{% endblock %}
