{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<script>
$( function() {
  $( "#datepicker" ).datepicker({
    showOtherMonths: true,
    selectOtherMonths: true
  });
} );
</script>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form class="form-horizontal" method="POST">
            <fieldset>
                <legend>{{ employee|title }}</legend>

                {% csrf_token %}
                {{ form|crispy }}

                <a href="{% url 'employees_list' %}" class="btn btn-default">Cancel</a>
                <input type="submit" class="btn btn-primary" value="Submit"/>

            </fieldset>
        </form>
    </div>
</div>

{% if actualdocuments %}

<div class="row">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-12">
                <h1>Documents</h1>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-md-offset-3">
        <form class="form-horizontal" enctype='multipart/form-data' method="POST">
            {% csrf_token %}
            {% for k, v in actualdocuments.items %}
            <div class="panel panel-default">
                <div class="panel-heading">{{ k|title }}</div>
                <div class="panel-body">
                    {{ v|crispy }}
                </div>
            </div>
            {% endfor %}

            <a href="{% url 'employees_list' %}" class="btn btn-default">Cancel</a>
            <input type="submit" class="btn btn-primary" value="Submit"/>
        </form>
    </div>
</div>
{% endif %}

{% endblock %}
