{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h1>{{ page_title|title }}</h1>

<form class="form-horizontal" method="POST">
  <fieldset>
    <legend>{{ employee }}</legend>

        {% csrf_token %}
        {{ form|crispy }}

        <a href="{% url 'employees_list' %}" class="btn btn-default">Cancel</a>
        <input type="submit" class="btn btn-primary" value="Submit"/>

  </fieldset>
</form>
<div class="page-header">
    <div class="row">
        <div class="col-lg-12">
            <h1 id="pricing">Documents</h1>
        </div>
    </div>
</div>
<ul>
    {% for documentmodel in employee.documentmodels %}
    <li>{{ documentmodel }}</li>
    {% endfor %}
</ul>
{% endblock %}
