{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h1>{{ page_title|title }}</h1>

<form class="form-horizontal" action="{% url 'employees_list' %}" method="POST">
  <fieldset>
    <legend>{{ documentmodel }}</legend>

        {% csrf_token %}
        {{ form|crispy }}

        <a href="{% url 'employees_list' %}" class="btn btn-default">Cancel</a>
        <input type="submit" class="btn btn-primary" value="Submit"/>
      </div>
    </div>

  </fieldset>
</form>

{% endblock %}
