{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h1>{{ page_title|title }}</h1>

{% if profiles %}
<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>Name</th>
            <th><i class="fa fa-users fa-fw" aria-hidden="true"></i></th>
            <th><i class="fa fa-file-o fa-fw" aria-hidden="true"></i></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for profile in profiles %}
        <tr>
            <td><a href="{% url 'profile_update' profile.id %}">{{ profile.name }}</a></td>
            <td>999</td>
            <td>999</td>
            <td><a href="{% url 'profile_trash' profile.id %}" class="text-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<h4>No Profiles registered yet.</h4>
Create <a href="{% url 'documentmodels_list' %}">Document Models</a> first.
{% endif %}

<a class="btn btn-primary" href="{% url 'profile_create' %}">New profile</a>
{% endblock %}
